body {
    text-align: center;
    background: url(img/bgimage.jpg) no-repeat;
    background-size: cover;
    min-width: 1125px;
    max-width: 1600px;
    margin: 0 auto;
}


h1,
h2,
p {
    font-family: monospace;
    font-style: italic;
    color: midnightblue;
}


p {
    font-size: 28px;
}

.todayDate {
    display: block;
    font-family: monospace;
    font-weight: 600;
    font-size: 20px;
}

#input {
    background-image: url(img/icon-search.svg);
    background-repeat: no-repeat;
    background-position: 5px 5px;
    background-color: #fff;
    border-radius: 7px;
    width: 40%;
    padding: 10px 10px 10px 40px;
    font-size: 18px;
}

#submit {
    border-radius: 7px;
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
}

button {
    border: none;
    border-collapse: collapse;
    border-radius: 7px;
    outline: none;
    background: blue;
    cursor: pointer;
    color: aliceblue;
    font-size: 28px;
    font-weight: 600;
    width: 29%;
    text-align: left;
    padding: 5px 15px;
}

button:hover {
    color: blue;
    background-color: lightgray;
}

.button-active {
    color: blue;
    background-color: aliceblue;
}

.wrapper {
    width: 100%;
    margin-top: 40px;
}

table {
    width: 90%;
    margin: 20px auto;
    color: darkblue;
}

#timeTable,
#delaysTable {
    display: none;
}

thead td {
    border: 2px solid gray;
    border-radius: 7px;
    font-weight: 600;
    font-size: 18px;
    background: cadetblue;
}

td {
    border: 1px solid gray;
}

select {
    width: 20%;
    color: darkblue;
    font-size: 18px;
    font-weight: 600;
    font-family: monospace;
}

.time-legend {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
}